<%- include("../partials/header")  %>

<div class="container">
	<div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
		<div class="container">
			<h1>Welcome to YelpCamp!</h1>
			<p>
				View our hand-picked campgrounds from all over the world!</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
			</p>
		</div>
	</div>

<div class="container">
<div class="row">
	<div class="col-lg-12">
		<h3>Our Most popular Campgrounds!</h3>
	</div>
</div>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img class="img-fluid" src="<%= campground.image %>">
				<div class="caption">
					<h4><%= campground.name %></h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
	<% }); %>
</div>	
	
	
</div>




<p>
	TradeMark YelpCamp 2020
</p>
</body>
</html>